html {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.skyland {
    width: 100%;
    height: 1000px;
    background-color: white;
    &.skyland__top {
        width: 100px;
        height: 80px;
    }
}